<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>家庭記帳本</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  {{!-- fontawesome --}}
  <script src="https://kit.fontawesome.com/42fb96faae.js" crossorigin="anonymous"></script>
  {{!-- CSS from static file --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand fs-2" href="/">
        {{#if isAuthenticated}}{{user.email}}的{{/if}}家庭記帳本
      </a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-primary" id="navbar-btn">登出</a>
      {{else}}
      <a href="/users/login" class="btn btn-outline-primary" id="navbar-btn">登入</a>
      {{/if}}
    </div>
  </nav>
  {{{body}}}
  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <!-- JavaScript from public folder-->
  <script src="/javascripts/main.js"></script>

</body>

</html>