<div class="container d-flex flex-row justify-content-center my-5">

  <div class="d-flex flex-column">

    <form action="/expense/new" method="post" class="d-flex flex-column mb-3">
      <div class="d-flex flex-row align-items-center mb-3">
        <div style="width: 110px; font-size: 10px"><span>* 必填欄位</span></div>
        <div style="width: 150px;"><span>請輸入你的支出</span></div>
      </div>

      <div class="d-flex flex-row">
        <div style="width: 60px;"><label for="name">名稱*：</label></div>
        <input type="text" class="mb-3 mx-3" id="name" name="name" placeholder="輸入支出名稱" value="{{name}}">
      </div>

      <div class="d-flex flex-row">
        <div style="width: 60px;"><label for="date">日期*：</label></div>
        <input type="date" class="mb-3 mx-3" style="width: 183px; height: 30px;" id="date" name="date" value="">
      </div>

      <div class="d-flex flex-row">
        <div style="width: 60px;"><label for="category">類別*：</label></div>
        <select class="mb-3 mx-3" style="width: 183px; height: 30px;" id="category" name="category">
          <option>請選擇類別</option>
          <option>家居物業</option>
          <option>交通出行</option>
          <option>休閒娛樂</option>
          <option>餐飲食品</option>
          <option>其他</option>
        </select>
      </div>

      <div class="d-flex flex-row">
        <div style="width: 60px;"><label for="amount">金額*：</label></div>
        <input type="number" class="mb-3 mx-3" id="amount" name="amount" placeholder="輸入金額">
      </div>

      <button class="btn btn-secondary">新增支出</button>
    </form>
  </div>