.for-dummies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(204, 232, 207);
  width: 500px;
  height: 500px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  /* 超連結去除底線，套用在 a 標籤  */
  text-decoration: none;

}

.container-fluid {
  font-weight: bold;
}

.div-a-data-light {
  background-color: white;
  width: 310px;
}

.div-a-data-dark {
  background-color: rgb(235, 235, 235);
  width: 310px;
}

.div-amount {
  text-align: right;
  width: 150px;
  margin-right: 30px;
}

.div-record-a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.record-a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  width: 40px;
}

#navbar-btn {
  border-color: black;
  color: orangered;
  font-weight: bold;
}

#total {
  color: rgb(255, 115, 0);
}

#btn-new {
  max-width: 180px
}

#btn-home {
  border: 0px;
}

.record-name {
  font-size: 20px;
  font-weight: bold;

}

.record-icon {
  font-size: 32px;
  color: rgb(17, 189, 189);
  margin-right: 15px;
}

.as-text {
  font-weight: bold;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 60px;
}